:root {
	font-size: 24px;

	/* #region Variables */
	--light-blue: #54a4fa;
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--light-red: #f04859;
	--red: #dc3545;
	--orange: #fd7e14;
	--light-yellow: #ffd24b;
	--yellow: #ffc107;
	--light-green: #3de664;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--light-gray: #d3d3d3;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--gray-darker: #242937;
	--primary: #105fbd;
	--secondary: #7bb6da;
	--success: #17ad56;
	--info: #9296a2;
	--warning: #eec643;
	--danger: #fb271f;
	--light: #fafafa;
	--dark: #64799c;
	--tinted-gray: #7c92a5;
	--black: black;
	--less-black: rgb(14, 14, 14);
	/* #endregion */

	/* #region Scrollbar Firefox */
	scrollbar-color: var(--purple) var(--gray-dark);
	scrollbar-width: thin;
	/* #endregion */
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--light-gray);
	background-color: var(--gray-darker);
	margin: 0;
	padding: 0;
}

b {
	color: var(--white);
	font-weight: 700;
}

.red {
	color: var(--red);
}

/* #region Scrollbar Chrome */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--gray-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple);
}
/* #endregion */

#content {
	margin-left: 5rem;
	padding: 1rem;
}

.section {
	display: block;
	border-top: 3px var(--gray) solid;
	border-radius: 2px;
	margin: 1rem 0;
}

.footer {
	position: fixed;
	bottom: 0%;
	width: calc(100vw - 7rem);

	display: inline-block;
	border-top: 3px var(--gray) solid;
	border-radius: 2px;
	padding: 0.25rem 0 1rem 0;

	background-color: var(--gray-darker);
}

.footer-section {
	float: left;
}

.footer-section:not(:nth-child(-n+2)) {
	border-left: 3px var(--gray) solid;
	border-radius: 2px;
	padding-left: 1rem;
}

.footer .title {
	font-weight: bold;
	margin: 12px 0;
}

.footer .subtitle {
	font-weight: normal;
	font-size: 0.8rem;
	margin: 12px 0;
}

#overlay {
    position:absolute;
    width: 100%;
	height: 100%;
	
	z-index: 199;

	transition: 200ms;

	pointer-events: none;
}

/* #region Text Input */
.text-input {
	display: inline-block;
}

.text-input input {
	font-family: "Roboto Mono", "Roboto", sans-serif;

	background-color: var(--gray-darker);
	color: var(--white);

	display: flex;
	flex-direction: row;
	align-items: center;
	
	padding: 0.3rem 0.4rem;
	width: 6.25rem;

	border: 2px var(--gray-dark) solid;
	border-radius: 10px;
	
	font-size: 0.9rem;
}

.text-input input::placeholder {
	font-family: "Roboto", sans-serif;
	font-style: italic;
	color: var(--light-gray);
	font-size: 0.8rem;
}
/* #endregion */

/* #region Toggle */
.toggle-parent {
	display: inline-block;
}

.toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	width: max-content;
	padding: 0.25rem;
	

	border: 2px var(--gray-dark) solid;
	border-radius: 10px;
	
	margin-right: 1rem;
}

.toggle > span {
	margin: 0;
	display: inline-block;
	text-align: center;
}

.toggle .switch {
	margin-left: 1rem;
}
/* #endregion */

/* #region Switch */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: var(--red);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
	border-radius: 34px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
	border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
/* #endregion */

/* #region Integer Input */
.integer-input {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	font-size: 1.2rem;
	font-family: "Roboto Mono", monospace;
	width: max-content;
	border-radius: 15px;
	border: 2px var(--gray-dark) solid;
}

.integer-input > .minus, .integer-input > .plus {
	border-radius: 10px;

	width: 1rem;
	height: 1rem;
	margin: 0;
	padding: 0.3rem 0.3rem;
	font-weight: bold;

	transition-duration: 100ms;
}

.integer-input > .minus:not(.disabled), .integer-input > .plus:not(.disabled) {
	cursor: pointer;
}

.integer-input > .minus {
	width: 0.7rem;
	height: 0.9rem;
}

.integer-input > .plus {
	width: 0.8rem;
	height: 0.8rem;
}

.integer-input .disabled {
	filter: brightness(50%);
}

.integer-input > .plus:not(.disabled):hover  {
	filter: invert(46%) sepia(54%) saturate(1789%) hue-rotate(85deg) brightness(107%) contrast(119%);
}

.integer-input > .minus:not(.disabled):hover {
	filter: invert(31%) sepia(73%) saturate(6833%) hue-rotate(341deg) brightness(90%) contrast(166%);
}

.integer-input > .number {
	margin: 0;
	padding: 0 0.3rem;
	color: var(--light-gray);
	-moz-user-select: none;
	-webkit-user-select: none;
}
/* #endregion */

/* #region Buttons */
.button-hollow, .button-hollow.white {
	font-size: 1rem;
	padding: 4px 0;
	background-color: var(--gray-darker);
	color: var(--white);
	border: 3px solid var(--white);
	border-radius: 20px;
	transition-duration: 0.1s;

	width: 100px;

	cursor: pointer;
}

.button-hollow.s2 {
	width: 125px;
}

.button-hollow.red {
	border-color: var(--red);
}

.button-hollow.blue {
	border-color: var(--blue);
}

.button-hollow.yellow {
	border-color: var(--yellow);
}

.button-hollow.gray {
	border-color: var(--gray);
}

.button-hollow.black {
	border-color: var(--black);
}

.button-hollow:hover {
	border-radius: 10px;
}

.button-hollow:hover.red {
	background-color: var(--red);
}

.button-hollow:hover.blue {
	background-color: var(--blue);
}

.button-hollow:hover.yellow {
	background-color: var(--yellow);
}

.button-hollow:hover.black {
	background-color: var(--black);
}

.button-hollow:hover.white {
	background-color: var(--white);
	color: var(--black);
}

.button-hollow.active {
	border-radius: 10px;
}

.button-hollow.red.active {
	background-color: var(--red);
}

.button-hollow.blue.active {
	background-color: var(--blue);
}

.button-hollow.yellow.active {
	background-color: var(--yellow);
}

.button-hollow.gray.active {
	background-color: var(--gray);
}

.button-hollow.black.active {
	background-color: var(--black);
}

.button-hollow.white.active {
	background-color: var(--white);
	color: var(--black);
}

.button-hollow.active:hover {
	border-radius: 20px;
}

.vw-5 { width: 5rem; }

.vw-4 { width: 4rem; }

.vw-3 { width: 3rem; }

.vw-2 { width: 2rem; }

.vw-1 { width: 1rem; }
/* #endregion */