:root {
	font-size: 24px;
	font-family: "Roboto", sans-serif;

	/* Variables */
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--light-gray: #d3d3d3;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--gray-darker: #242937;
	--primary: #105fbd;
	--secondary: #7bb6da;
	--success: #17ad56;
	--info: #9296a2;
	--warning: #eec643;
	--danger: #fb271f;
	--light: #fafafa;
	--dark: #64799c;

	/* #region Scrollbar Firefox */
	scrollbar-color: var(--purple) var(--gray-dark);
	scrollbar-width: thin;
	/* #endregion */
}

body {
  color: var(--light-gray);
  background-color: var(--gray-darker);
  margin: 0;
  padding: 0;
}

/* #region Scrollbar Chrome */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--gray-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple);
}
/* #endregion */

#content {
  margin-left: 5rem;
  padding: 1rem;
}

/* #region Navbar */

/* #endregion */

/* #region Switch */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: var(--red);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
	border-radius: 34px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
	border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  transform: translateX(26px);
}
/* #endregion */

.section {
	display: block;
}

.toggle-parent {
	display: inline-block;
}

.toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	width: max-content;
	padding: 0.25rem;
	

	border: 2px var(--gray-dark) solid;
	border-radius: 10px;
	
	margin-right: 1rem;
}

.toggle > span {
	margin: 0;
	display: inline-block;
	text-align: center;
}

.toggle .switch {
	margin-left: 1rem;
}
