.navbar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding-top: 20px;

	overflow: hidden;
	transition-duration: 0.1s;
	width: 93px;
}

.navbar {
	padding-left: 0;
	background: #2b303e;
	z-index: 200;
}

.navbar-item {
	list-style: none;
	padding-left: 20px;
	width: 100%;
	
}

.navbar-item a {
	text-decoration: none;
	color: var(--tinted-gray);
	width: max-content;
	transition: 100ms;

	display: flex;
	flex-direction: row;
	align-items: center;
	
	white-space: nowrap;
}

.navbar-item a::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 25px;

	background-image: url("/icons/null.png");
	background-size: cover;
	filter: grayscale();
}

.navbar-item a:hover::before {
	filter: none;
}

.navbar:hover {
	width: 300px;
	padding-right: 20px;
}

.navbar:hover a {
	width: calc(100vw - 50px);
}

.navbar-item a:hover {
	color: var(--white);
}



















































