.navbar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding-top: 20px;

	overflow: hidden;
	transition-duration: 100ms;
	width: 93px;
	
}

.navbar {
	padding-left: 0;
	background: #2b303e;
	z-index: 200;
}

.navbar-item {
	list-style: none;
	padding-left: 20px;
	width: 100%;
	
}

.navbar-item a {
	text-decoration: none;
	color: var(--tinted-gray);
	width: max-content;
	transition: 100ms;

	display: flex;
	flex-direction: row;
	align-items: center;
	
	white-space: nowrap;
	cursor: pointer;
}

.navbar-item a::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 25px;

	background-image: url("/icons/null.png");
	background-size: cover;
	filter: grayscale() brightness(75%);
	
	transition-duration: 150ms;
}

.navbar-item-home a::before {
	background-image: url("/icons/home.png");
	scale: 80%;
	filter: brightness(0%);
}

.navbar-item-button a::before {
	background-image: url("/icons/button.png");
	scale: 80%;
}

.navbar-item-wiresimp a::before {
	background-image: url("/icons/wiresimp.png");
	scale: 80%;
}

.navbar-item-keypads a::before {
	background-image: url("/icons/keypads.png");
	scale: 80%;
}

.navbar-item-simon a::before {
	background-image: url("/icons/simon.png");
	scale: 80%;
}

.navbar-item-whoof a::before {
	background-image: url("/icons/whoof.png");
	scale: 80%;
}

.navbar-item-memory a::before {
	background-image: url("/icons/memory.png");
	scale: 80%;
}

.navbar-item a:hover::before {
	filter: none;
}

.navbar:hover {
	width: 300px;
	padding-right: 20px;
}

.navbar:hover a {
	width: calc(100vw - 50px);
}

.navbar-item a:hover {
	color: var(--white);
}



















































