.wire-container {
    display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
    grid-auto-flow: column;
}

.wire {
	border: 2px solid var(--gray-dark);
	border-radius: 15px;
	width: max-content;
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 10px;
}

.wire p {
	display: inline-block;
	margin-right: 10px;
}