:root {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;

  /* #region Scrollbar Firefox */
  scrollbar-color: #6649b8 #1e1e24;
  scrollbar-width: thin;
  /* #endregion */
}

body {
  color: black;
  background-color: darkgray;
  margin: 0;
  padding: 0;
}

/* #region Scrollbar Chrome */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
/* #endregion */

main {
  margin-left: 5rem;
  padding: 1rem;
}

/* #region Navbar */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  
  transition: width 200ms ease;
  white-space: nowrap;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-item {
  width: 100%;
}

.navbar-item-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: color 100ms ease;
}

.navbar-item-text {
  opacity: 0;
  transition: opacity 200ms ease;
}

.navbar-item-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
}

.navbar:hover {
  width: 14rem;
}

.navbar:hover .navbar-item-text {
  opacity: 100;
}

.navbar-item:hover .navbar-item-text {
  color: var(--text-secondary)
}
/* #endregion */