:root {
	font-size: 24px;
	font-family: "Roboto", sans-serif;

	/* Variables */
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--light-gray: #d3d3d3;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--gray-darker: #242937;
	--primary: #105fbd;
	--secondary: #7bb6da;
	--success: #17ad56;
	--info: #9296a2;
	--warning: #eec643;
	--danger: #fb271f;
	--light: #fafafa;
	--dark: #64799c;

	/* #region Scrollbar Firefox */
	scrollbar-color: var(--purple) var(--gray-dark);
	scrollbar-width: thin;
	/* #endregion */
}

body {
  color: var(--light-gray);
  background-color: var(--gray-darker);
  margin: 0;
  padding: 0;
}

/* #region Scrollbar Chrome */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--gray-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--purple);
}
/* #endregion */

main {
  margin-left: 5rem;
  padding: 1rem;
}

/* #region Navbar */
.navbar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  background-color: #2b303e;
  
  transition: width 200ms ease;
  white-space: nowrap;

	overflow: hidden;

	z-index: 201;
	border-right: #1d212b 3px solid;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-item {
  width: 100%;
}

.navbar-item-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
	transition-duration: 1s;
}

.navbar-item-text {
  opacity: 0;
  transition-duration: 200ms;
}

.navbar-item-icon {
  width: 2.5rem;
  height: 2.5rem;
	margin: 0 0.70rem;
}

.navbar:hover {
  width: 14rem;
}

.navbar:hover .navbar-item-text {
  opacity: 100;
}

.navbar-item:hover .navbar-item-text {
  color: var(--white);
}

#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	pointer-events: none;
	transition-duration: 0.5s;

	z-index: 200;
}

/* #endregion */